n8n/cdn_bot.json
{
  "name": "cdn_bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -208
      ],
      "id": "a1524ed4-94b2-4071-84e7-29c80ab2b205",
      "name": "Webhook",
      "webhookId": "bf4f9f60-fd4e-4043-990f-ffaa282fa61b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "✅ Triage request received. Processing results…\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        -208
      ],
      "id": "dfc9bad4-32d5-4869-a36a-78a90d878aac",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Code node: parse Slack slash-command \"text\" into key=value args\n\nconst input = items[0].json;\nconst body = input.body ?? input;\nconst text = (body.text || \"\").trim();\n\nfunction parseKV(inputStr) {\n  const out = {};\n  const tokens = inputStr.split(/\\s+/).filter(Boolean);\n\n  for (const tok of tokens) {\n    const m = tok.match(/^([^=]+)=(.+)$/);\n    if (!m) continue;\n\n    const k = m[1].trim().toLowerCase();\n    let v = m[2].trim();\n\n    // strip quotes if any\n    v = v.replace(/^\"(.*)\"$/, \"$1\").replace(/^'(.*)'$/, \"$1\");\n    out[k] = v;\n  }\n  return out;\n}\n\nconst args = parseKV(text);\n\n// defaults + normalization\nconst service = (args.service || \"\").toLowerCase() || null;\nconst region  = (args.region  || \"\").toLowerCase() || null;\nconst pop     = (args.pop     || \"\").toLowerCase() || null;\nconst ip      = args.ip || null;\n\nconst windowStr = (args.window || \"60m\").toLowerCase();\nconst wm = windowStr.match(/^(\\d+)\\s*m$/);\nconst windowMinutes = wm ? parseInt(wm[1], 10) : 60;\n\nreturn [{\n  json: {\n    rawText: text,\n    service,\n    region,\n    pop,\n    ip,\n    windowMinutes,\n    slack: {\n      channel_id: body.channel_id,\n      channel_name: body.channel_name,\n      user_id: body.user_id,\n      user_name: body.user_name,\n      command: body.command\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -208
      ],
      "id": "08ccfd22-e5c2-4104-9fb7-84decb537b9a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AA7U6FK7T",
          "mode": "list",
          "cachedResultName": "triage_lab"
        },
        "message": "=🧪 CDN TRIAGE REQUEST RECEIVED\n\nService: {{$json.service}}\nRegion: {{$json.region}}\nPOP: {{$json.pop}}\nWindow: {{$json.windowMinutes}} minutes\n\nRaw input:\n{{$json.rawText}}\n",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        320,
        48
      ],
      "id": "41986ccb-83bf-4fca-a8ef-034f0e250edf",
      "name": "Send message and wait for response",
      "webhookId": "a3b8cd94-1fc4-433f-bb3f-b34ad578cab4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xy8gwdrvOqRONnE3",
          "name": "Slack account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d50468cb-8a8f-41d6-bb66-8bf01fd9929b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6764c79f47394251996df2c5f4c1e6280e5cf80debb2f3d7d17e476093ee3f99"
  },
  "id": "RUD3N79Ta4y850BEbPVEU",
  "tags": []
}